<div class="circleBackground"></div>
<div class="userProfil">
    <span class="icon">
        <i class="fa fa-user"></i>
    </span>
    Nutzerprofil
</div>

<div class="menuPoint" style="margin-top: 8rem">
    <span class="icon">
        <i class="fa fa-user"></i>
    </span>
    Meine Kurse
</div>

<div class="menuPoint">
    <span class="icon">
        <i class="fa fa-user"></i>
    </span>
    Aktuelles
</div>

<div class="menuPoint">
    <span class="icon">
        <i class="fa fa-user"></i>
    </span>
    Kursübersicht
</div>

<div class="menuPoint">
    <span class="icon">
        <i class="fa fa-user"></i>
    </span>
    Kontakt
</div>