.navOpen {
  margin-left: 24%;
}

.notification>.delete {
  position: relative;
  right: -1rem;
  top: .1rem;
  float: right;
}

.circleBackground {
  height: 30rem;
  width: 30rem;
  z-index: -1;
  background-color: #209cee;
  border-radius: 15rem;
  position: absolute;
  margin-top: -18rem;
  margin-left: -13rem;
}