.burgerElement{
    color: white;
    font-size: 1.5rem;
    padding: 1.25rem;
    padding-bottom: 0rem;
    position: absolute;
    z-index: 1;
}

.navbar {
    float: left;
}

.menuPosition {
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    margin-top: -2.5rem;
    width: 65%;
    overflow: hidden;
    border-top-right-radius: 1rem;
    margin-left: 0rem;
    margin-top: -2rem;
    -webkit-transition: margin-left 1s; /* Safari */
    -webkit-transition: margin-top 1s; /* Safari */
    transition: margin-left 1s;
    transition: margin-top 1s;
}

.contentPosition {
    margin-left: 19rem;
    margin-top: 3rem;
}

/*
    background-color: white;
    border: 1px solid;
    width: 75%;
    margin-top: -3.5rem;
    */