<div class="container fullScreenBackground">
  <div class="circleBackground" #backgroundElement></div>   
  <div class="columns is-mobile">
    <div class="column is-12" style="z-index: 0; padding: 2rem; padding-left: 5rem;">
      <div style="font-size: 1.5rem; color:white;">
        Kurs Kategorien
      </div>
    </div>
  </div>

  <div class="column" style="margin-top: -2rem;padding: 1.0rem;">
    <alert></alert>
  </div>

  <section style="padding: 1rem;" *ngIf="dataIsAvailable">
    <div class="card" *ngFor="let course of courses; let i=index">
      <div class="color-marker">
      </div>
      <div class="card-content">
        <p class="title">
          {{course.KURS_NAME}}
        </p>
        <p class="subtitle">
          {{course.KURS_BESCHREIBUNG}}
        </p>
      </div>
    </div>
  </section>
  
</div>