.navOpen {
  margin-left: 24%;
}

.notification>.delete {
  position: relative;
  right: -1rem;
  top: .1rem;
  float: right;
}

.userProfil {
  color: white;
  padding-top: 3rem;
  padding-left: 0rem;
  font-size: 1.4rem;
}

.menuPoint {
  color: hsl(0, 0%, 29%);
  padding-top: 1.5rem;
  padding-left: 0rem;
  font-size: 1.4rem;
}

.signOut {
  bottom: 1rem;
  position: fixed;
}

.icon{
  padding-right: 1rem;
}
