<i class="fa fa-times" aria-hidden="true" style="float: right; padding: 1rem; color: white; font-size: 1.5rem;" (click)="routing()"></i>

<div class="circleBackground"></div>
<div class="userProfil" [routerLink]="['profil']" (click)="routing()">
    <span class="icon">
        <i class="fa fa-user"></i>
    </span>
    Nutzerprofil
</div>

<div class="menuPoint" style="margin-top: 8rem" [routerLink]="['kurs-uebersicht/me']"  (click)="routing()">
    <span class="icon">
        <i class="fa fa-star"></i>
    </span>
    Meine Kurse
</div>

<div class="menuPoint" [routerLink]="['kategorien']"  (click)="routing()">
    <span class="icon">
        <i class="fa fa-tasks"></i>
    </span>
    Kurs Kategorien
</div>

<div class="menuPoint" [routerLink]="['kurs-uebersicht/highlights']"  (click)="routing()">
    <span class="icon">
        <i class="fa fa-calendar"></i>
    </span>
    Highlights
</div>

<div class="menuPoint" [routerLink]="['kontakt']"  (click)="routing()">
    <span class="icon">
        <i class="fa fa-envelope"></i>
    </span>
    Kontakt
</div>

<div class="signOut" (click)="signOut()">
    <span class="icon">
        <i class="fa fa-sign-out"></i>
    </span>
    Ausloggen
</div>