<div class="container-fluid container" [ngClass]="{'navOpen' : navStatus}">
  <div class="row">
    <div class="col s12">
      <div class="card z-depth-0 red lighten-1 white-text" style="margin-top: 50px;" *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
        <div class="card-content" >
          <i class="material-icons">error</i>
          <a style="margin-left: 15px; color:white">{{message.text}}</a>
          <button style="vertical-align: middle; margin-top: -5px" type="button" class="btn-flat transparent close white-text pull-right" (click)="message = null" >
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
    </div>
  </div>