.circleBackground {
    height: 30rem;
    width: 30rem;
    z-index: -1;
    background-color: #209cee;
    border-radius: 15rem;
    position: absolute;
    margin-top: -13rem;
    margin-left: -7rem;
}

.icon {
    font-size: 1.7rem;
    color: white;
}

.columns {
    margin-right: 0rem;
}

.iconCircle {
    color: white;
    position: absolute;
    margin-left: 7rem;
    font-size: 1.5rem;
}

.is-primary{   
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.is-primary-save {
    background-color: #209cee !important;
}