<div class="container fullScreenBackground">
  <div class="circleBackground"></div>   
  <div class="columns is-mobile">
    <div class="column is-12" *ngIf="dataIsAvailable" style="z-index: 0; padding: 2rem; padding-left: 5rem;">
      <div style="font-size: 1.5rem; color:white;">
        {{singleCourse.KURS_NAME}}
      </div>
      <p style="color:white">{{singleCourse.KURS_SUBNAME}}</p>
    </div>
    <div class="columns is-mobile">
  </div>
  </div>

  <div class="column is-12" *ngIf="dataIsAvailable" style="z-index: 0; padding: 1rem;">
    <p style="color:white">ZEIT</p>
   <p style="color:white">ORT</p>
   <p style="color:white">Veranstalter</p>
</div>

  <div class="column" style="margin-top: -2rem;padding: 1rem;">
    <alert></alert>
  </div>

  <section style="padding: 1rem; margin-top: -2rem;" *ngIf="dataIsAvailable">
    <div class="card" style="padding:1rem; height: 4rem">
      <div style="font-size: 1.4rem; float: left;">
        Mehr Informationen
      </div>
      <i class="fa fa-chevron-down " style="float: right;" aria-hidden="true"></i>
    </div>
  </section>
  <section *ngIf="dataIsAvailable">
    <div class="card" style="padding:1rem">
      <div style="font-size: 1.4rem">
        Kursinhalt
      </div>
      {{singleCourse.KURS_BESCHREIBUNG}}
    </div>
  </section>

  
</div>